language: cpp
compiler: 
  - gcc
  - clang
os:
  - linux
  - osx
addons:
  apt:
    packages:
    - gcc-multilib
    - g++-multilib
before_script:
  - curl http://libsdl.org/release/SDL2-devel-2.0.7-mingw.tar.gz | tar xzf -
  - mv SDL2-2.0.7/i686-w64-mingw32/include/SDL2 cl_dll/
script:
  - mkdir -p build && cd build
  - cmake ../ -DCMAKE_C_FLAGS="-O2 -pipe -DNDEBUG -fvisibility=hidden -fomit-frame-pointer" -DCMAKE_CXX_FLAGS="-fno-exceptions -fno-rtti" -DCMAKE_EXE_LINKER_FLAGS="-Wl,--no-undefined -Wl,--strip-all" -DGOLDSOURCE_SUPPORT=1 -DUSE_VOICEMGR=0 && make -j3
  - mkdir -p $TRAVIS_BRANCH-$TRAVIS_OS_NAME-$CC/cl_dlls
  - mkdir -p $TRAVIS_BRANCH-$TRAVIS_OS_NAME-$CC/dlls
  - cp cl_dll/client.* $TRAVIS_BRANCH-$TRAVIS_OS_NAME-$CC/cl_dlls
  - cp dlls/bshift.* $TRAVIS_BRANCH-$TRAVIS_OS_NAME-$CC/dlls
  - tar -J -cf $TRAVIS_BRANCH-$TRAVIS_OS_NAME-$CC.txz $TRAVIS_BRANCH-$TRAVIS_OS_NAME-$CC
  - curl --upload-file $TRAVIS_BRANCH-$TRAVIS_OS_NAME-$CC.txz https://transfer.sh/$TRAVIS_BRANCH-$TRAVIS_OS_NAME-$CC.txz
